.user-is-gestor-do-museu.edit-php.post-type-museusbr-museus .subsubsub li:not(.mine) {
    display: none;
    visibility: hidden;
}
.user-is-gestor-do-museu.toplevel_page_tainacan_admin #adminmenumain {
    display: block;
}
.user-is-gestor-do-museu.toplevel_page_tainacan_admin #wpcontent {
    padding-left: 0;
}
.user-is-gestor-do-museu {
    --tainacan-secondary: #2271b1;
    --tainacan-primary: #f6f7f7;
    --wordpress-topbar-height: 32px;
}
.user-is-gestor-do-museu #tainacan-admin-app {
    --tainacan-background-color: #f0f0f1;
    --tainacan-sidebar-width: 0px;
    --tainacan-one-column: 1.25rem;
    --tainacan-gray1: #fafafa;
    --tainacan-gray2: #c3c4c7;
    --tainacan-label-color: #1d2327;
    --tainacan-input-color: #2c3338;
    --tainacan-input-border-color: #8c8f94;
    position: unset;
}
.user-is-gestor-do-museu #tainacan-admin-app .is-secondary-content,
.user-is-gestor-do-museu #tainacan-admin-app.is-fullheight,
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container {
    height: calc(100vh - var(--wordpress-topbar-height));
}
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .tainacan-form > .columns .column {
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (min-width: 770px) {
    .user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .tainacan-form > .columns .column.main-column > .b-tabs .tab-content {
        padding-left: 0px;
        padding-right: 20px;
    }
}
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container > .tainacan-form {
    margin-bottom: 0px;
    --tainacan-gray1: #c3c4c7;
}
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-page-title .breadcrumbs,
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-page-title hr,
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .sub-header,
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .back-link {
    display: none;
    visibility: hidden;
}
.user-is-gestor-do-museu #tainacan-admin-app [class^='metadata-section-slug-'],
.user-is-gestor-do-museu #tainacan-admin-app .sticky-container {
    min-width: 255px;
    border: 1px solid var(--tainacan-gray2);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: var(--tainacan-white);
    margin-bottom: 20px;
}
.user-is-gestor-do-museu #tainacan-admin-app .sticky-container {
    top: 20px;
    max-height: calc(100vh - 20px - 20px - 60px - var(--wordpress-topbar-height));
}
.user-is-gestor-do-museu #tainacan-admin-app .sticky-container .section-label .icon {
    padding-left: 3px;
}
.user-is-gestor-do-museu #tainacan-admin-app .sticky-container .section-attachments .section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container > .tainacan-form hr {
    background-color: var(--tainacan-gray2);
}
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .metadata-section-header {
    padding: 8px 12px;
    border-bottom: 1px solid var(--tainacan-gray2);
}
.user-is-gestor-do-museu #tainacan-admin-app .metadata-section-metadata-list {
    column-width: 380px;
}
.user-is-gestor-do-museu #tainacan-admin-app .metadata-section-metadata-list > * {
    break-inside: avoid;
    margin-left: 3px;
    margin-right: 3px;
}
.user-is-gestor-do-museu #tainacan-admin-app .metadata-section-metadata-list .field .collapse-handle + div {
    margin-top: 0.25em;
    font-size: 1.125em; /* Torna os inputs um pouco maiores */
}
.user-is-gestor-do-museu #tainacan-admin-app .metadata-section-metadata-list > .tainacan-metadatum-component--tainacan-taxonomy,
.user-is-gestor-do-museu #tainacan-admin-app .metadata-section-metadata-list > .tainacan-metadatum-component--tainacan-geocoordinate {
    column-span: all;
}
.user-is-gestor-do-museu #tainacan-admin-app  .document-field-placeholder {
    display: block;
    padding: 1rem 0px;
    border: none;
    font-size: 1.25rem;
}
.user-is-gestor-do-museu #tainacan-admin-app  .document-field-placeholder button {
    width: 100%;
    border-radius: 3px;
    border: 1px solid var(--tainacan-secondary);
}
.user-is-gestor-do-museu input.input,
.user-is-gestor-do-museu .input,
.user-is-gestor-do-museu textarea.textarea,
.user-is-gestor-do-museu .textarea,
.user-is-gestor-do-museu input[type="color"].input,
.user-is-gestor-do-museu input[type="date"].input,
.user-is-gestor-do-museu input[type="datetime-local"].input,
.user-is-gestor-do-museu input[type="datetime"].input,
.user-is-gestor-do-museu input[type="email"].input,
.user-is-gestor-do-museu input[type="number"].input,
.user-is-gestor-do-museu input[type="month"].input,
.user-is-gestor-do-museu input[type="password"].input,
.user-is-gestor-do-museu input[type="search"].input,
.user-is-gestor-do-museu input[type="tel"].input,
.user-is-gestor-do-museu input[type="text"].input,
.user-is-gestor-do-museu input[type="time"].input,
.user-is-gestor-do-museu input[type="url"].input,
.user-is-gestor-do-museu input[type="week"].input,
.user-is-gestor-do-museu .taginput .taginput-container.is-focusable,
.user-is-gestor-do-museu .select select {
    box-shadow: 0 0 0 transparent !important;
    border-radius: 3px !important;
    border: 1px solid var(--tainacan-input-border-color);
    color: var(--tainacan-input-color);
}
.user-is-gestor-do-museu .taginput .taginput-container input {
    height: calc(2.5em - 1px) !important;
}
.user-is-gestor-do-museu input.input:not(.is-danger):focus,
.user-is-gestor-do-museu .input:not(.is-danger):focus,
.user-is-gestor-do-museu textarea.textarea:not(.is-danger):focus,
.user-is-gestor-do-museu .textarea:not(.is-danger):focus,
.user-is-gestor-do-museu input[type="color"].input:not(.is-danger):focus,
.user-is-gestor-do-museu input[type="date"].input:not(.is-danger):focus,
.user-is-gestor-do-museu input[type="datetime-local"].input:not(.is-danger):focus,
.user-is-gestor-do-museu input[type="datetime"].input:not(.is-danger):focus,
.user-is-gestor-do-museu input[type="email"].input:not(.is-danger):focus,
.user-is-gestor-do-museu input[type="number"].input:not(.is-danger):focus,
.user-is-gestor-do-museu input[type="month"].input:not(.is-danger):focus,
.user-is-gestor-do-museu input[type="password"].input:not(.is-danger):focus,
.user-is-gestor-do-museu input[type="search"].input:not(.is-danger):focus,
.user-is-gestor-do-museu input[type="tel"].input:not(.is-danger):focus,
.user-is-gestor-do-museu input[type="text"].input:not(.is-danger):focus,
.user-is-gestor-do-museu input[type="time"].input:not(.is-danger):focus,
.user-is-gestor-do-museu input[type="url"].input:not(.is-danger):focus,
.user-is-gestor-do-museu input[type="week"].input:not(.is-danger):focus {
    border-color: var(--tainacan-secondary) !important;
    box-shadow: 0 0 0 1px var(--tainacan-secondary) !important;
    --tainacan-gray4: var(--tainacan-secondary);
    outline: 2px solid transparent;
}
.user-is-gestor-do-museu .tainacan-checkbox-search-section input[type="search"].input:not(.is-danger) {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.user-is-gestor-do-museu .button.is-outlined {
    color: var(--tainacan-secondary);
    border-color: var(--tainacan-secondary) !important;
    background-color: var(--tainacan-primary) !important;
}
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .footer {
    position: absolute;
    top: calc(100vh - 60px - var(--wordpress-topbar-height));
    border: 1px solid var(--tainacan-gray2);
    box-shadow: 0 -1px 1px rgba(0,0,0,.075);
}

/* Nesta altura a barra do WordPress fica maior */
@media screen and (max-width: 782px) {
    .user-is-gestor-do-museu {
        --wordpress-topbar-height: 46px;
    }
}