/* Página do certificado */
@media print {
    .admin_page_certificado #adminmenumain,
    .admin_page_certificado #wpadminbar,
    .admin_page_certificado #wpfooter,
    .admin_page_certificado > :not(#wpwrap) {
        display: none;
    }
    .admin_page_certificado {
        margin: 2cm;
        color: #000;
        background-color: #fff;
        height: auto;
    }
    .admin_page_certificado {
        border: 2px dotted #305057;
        height: calc(100% - 2cm);
        width: calc(100% - 2cm);
        margin: auto;
    }
    .admin_page_certificado #wpwrap,
    .admin_page_certificado #wpcontent,
    .admin_page_certificado #wpbody {
        height: auto;
        min-height: unset;
    }
    .admin_page_certificado #wpcontent {
        margin-left: 0;
        padding-left: 0;
    }
    .admin_page_certificado #wpbody-content {
        margin: 0;
        padding: 0;
        text-align: center;
    }
}
