
/* Admin Redesign */
body.wp-admin {
    font-family: "Poppins", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
#wpfooter {
    display: none;
    visibility: hidden;
}
#wpbody-content {
    padding-bottom: 0;
}
#adminmenu div.wp-menu-name,
div.wp-menu-image::before {
    padding-top: 12px;
    padding-bottom: 12px;
}
#adminmenu div.wp-menu-name {
    border-radius: 0 6px 6px 0;
}
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
    border-radius: 0 4px 4px 0;
}
#adminmenu li:has(#admin-menu-filter-field) {
    margin-top: 46px !important;
    margin-bottom: 46px !important;
    width: 85%;  
}
#admin-menu-filter-field {
    padding: 0.25em;
    background-position: left;
}
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
    color: #007cba;
}
.wrap h1.wp-heading-inline {
    font-size: 36px;
    font-weight: 300;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-right: 1.75rem;
}
.wrap #posts-filter,
.wrap .museusbr-admin-inner-content {
    min-height: calc(100vh - 158px);
    background: #f6f6f6;
    padding: 1rem 2rem;
    border-radius: 10px 10px 0 0;
}
.wrap .subsubsub {
    margin: 1.875rem 2rem 0;
    font-size: 0.875rem;
}
.wrap .wp-list-table {
    border-radius: 5px;
    overflow: hidden;
    border: none;
    border-collapse: collapse;
    margin: 2rem 0px;
}
.wrap .wp-list-table thead {
    background-color: #e8e8e8;
}
.wrap .wp-list-table tbody th {
    vertical-align: middle;
}
.wrap .wp-list-table tbody tr {
    vertical-align: middle;
    border-bottom: 1px solid #f0f0f0;
}
.wrap .wp-list-table thead th, 
.wrap .wp-list-table thead td {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: none;
}
.wrap .wp-list-table tbody td {
    vertical-align: middle;
}
.wrap .wp-list-table tfoot {
    display: none;
    visibility: hidden;
}
.wp-button-has-icon {
    display: inline-flex !important;
    gap: 0.5em;
    align-items: center;
}
.wp-core-ui .button,
.wp-core-ui .button:hover,
.wp-core-ui .button.button-large,
.wp-core-ui .button.button-large:hover,
.wp-core-ui .button.button-hero,
.wp-core-ui .button.button-hero:hover,
.wrap .page-title-action,
#posts-filter input[type="search"] {
    padding: 0.25em 1.5em;
    text-shadow: none;
}
.wp-core-ui select {
    padding: 0.25em 1.5em 0.25em 0.5em;
}

/* Modificações específicas para o usuário Gestor de Museu */
.user-is-gestor-do-museu.edit-php.post-type-museusbr-museus .subsubsub li:not(.mine) {
    display: none;
    visibility: hidden;
}
.user-is-gestor-do-museu #wpbody-content {
    padding-bottom: 0;
}
.user-is-gestor-do-museu {
    --tainacan-secondary: #2271b1;
    --tainacan-turquoise5: #2271b1;
    --tainacan-primary: #f6f7f7;
    --wordpress-topbar-height: 32px;
}
.user-is-gestor-do-museu #tainacan-admin-app {
    --tainacan-font-family: "Poppins", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    --tainacan-background-color: #f9f9f9;
    --tainacan-sidebar-width: 0px;
    --tainacan-one-column: 1.25rem;
    --tainacan-gray1: #fafafa;
    --tainacan-gray2: #c3c4c7;
    --tainacan-label-color: #1d2327;
    --tainacan-input-color: #2c3338;
    --tainacan-input-border-color: #8c8f94;
    --tainacan-input-border-radius: 3px;
    position: unset;
}
body.user-is-gestor-do-museu.tainacan-admin-page #adminmenumain {
    display: block;
}
.user-is-gestor-do-museu #tainacan-admin-app .is-secondary-content,
.user-is-gestor-do-museu #tainacan-admin-app.is-fullheight,
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container {
    height: calc(100vh - var(--wordpress-topbar-height));
    background: transparent;
}
.user-is-gestor-do-museu #tainacan-admin-app {
    background-color: transparent !important;
}
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container {
    padding: 24px 0;
}
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .tainacan-form > .columns .column {
    padding-left: 0px;
    padding-right: 0px;
}
@media screen and (min-width: 769px) {
    .user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .tainacan-form > .columns .column.is-7 {
      width: 65%;
    }
    .user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .tainacan-form > .columns .column.is-5 {
      width: 35%;
    }
    .user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .tainacan-form > .columns .column.main-column > .b-tabs .tab-content {
        padding-left: 0px;
        padding-right: 20px;
    }
}
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container > .tainacan-form {
    margin-bottom: 0px;
    background: #f6f6f6;
    padding: 2.5rem 2rem;
    border-radius: 10px 10px 0 0;
}
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container > .tainacan-form > .columns {
    max-width: 1344px;
    margin: 0 auto;
}
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-page-title {
    margin-top: 0;
    margin-bottom: 24px;
}
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-page-title h1 {
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    margin-right: 0px;
    padding: 9px 0 4px;
    line-height: 1.3;
}
.user-is-gestor-do-museu .page-container.item-edition-container .tainacan-page-title .status-tag,
.user-is-gestor-do-museu .page-container.item-creation-container .tainacan-page-title .status-tag {
    font-size: 0.5em;
}
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-page-title .breadcrumbs,
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-page-title hr,
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .sub-header,
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .back-link {
    display: none;
    visibility: hidden;
}
.user-is-gestor-do-museu #tainacan-admin-app [class^='metadata-section-slug-'],
.user-is-gestor-do-museu #tainacan-admin-app .sticky-container,
.user-is-gestor-do-museu #tainacan-admin-app .tab-item>.metadata-area>div {
    min-width: 255px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: rgba(255,255,255,.975);
    margin-bottom: 20px;
    border-radius: 4px;
}
.user-is-gestor-do-museu #tainacan-admin-app .sticky-container {
    top: 20px;
    max-height: calc(100vh - 20px - 20px - 60px - var(--wordpress-topbar-height));
}
.user-is-gestor-do-museu #tainacan-admin-app .sticky-container .section-label .icon {
    padding-left: 8px;
}
.user-is-gestor-do-museu #tainacan-admin-app .sticky-container .section-attachments .section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container > .tainacan-form hr {
    background-color: #e6e6e6;
}
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .metadata-section-header {
    position: sticky;
    top: -24px;
    z-index: 999;
    background-color: var(--tainacan-white);
}
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .metadata-section-header,
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .tainacan-form > .columns .column.is-5 .section-label {
    padding: 8px 12px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 1.125rem !important;
    font-weight: bold;
    border-radius: 6px;
}

.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .tainacan-form > .columns .column.is-5 .section-box {
    padding-top: 1rem;
}
.user-is-gestor-do-museu #tainacan-admin-app .metadata-section-metadata-list {
    column-width: 350px;
}
.user-is-gestor-do-museu #tainacan-admin-app .metadata-section-metadata-list > * {
    break-inside: avoid;
    margin-left: 6px;
    margin-right: 6px;
}
.user-is-gestor-do-museu #tainacan-admin-app .metadata-section-metadata-list .field .collapse-handle + div {
    margin-top: 0.25em;
    font-size: 1.125em; /* Torna os inputs um pouco maiores */
}
.user-is-gestor-do-museu #tainacan-admin-app .metadata-section-metadata-list > .tainacan-metadatum-component--tainacan-taxonomy,
.user-is-gestor-do-museu #tainacan-admin-app .metadata-section-metadata-list > .tainacan-metadatum-component--tainacan-geocoordinate,
.user-is-gestor-do-museu #tainacan-admin-app .metadata-section-metadata-list > .tainacan-metadatum-component--tainacan-compound {
    column-span: all;
}
.user-is-gestor-do-museu #tainacan-admin-app .metadata-section-metadata-list .tainacan-metadatum-component--tainacan-metadata-type-url .add-link {
    display: none;
    visibility: hidden;
}
.user-is-gestor-do-museu #tainacan-admin-app  .document-field-placeholder {
    display: block;
    padding: 1rem 0px;
    border: none;
    font-size: 1.25rem;
}
.user-is-gestor-do-museu #tainacan-admin-app  .document-field-placeholder button {
    width: 100%;
    border-radius: 3px;
    border: 1px solid var(--tainacan-secondary);
}
.user-is-gestor-do-museu #tainacan-admin-app .metadatum-description-help-info {
    margin-bottom: 0;
}
.user-is-gestor-do-museu #tainacan-admin-app .page-container.item-edition-container .tainacan-form > .columns .column.main-column .metadata-section-metadata-list .field,
.user-is-gestor-do-museu #tainacan-admin-app .page-container.item-creation-container .tainacan-form > .columns .column.main-column .metadata-section-metadata-list .field {
    border-radius: 10px;
}
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-finder-columns-container .tainacan-li-checkbox-last-active,
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-finder-columns-container .tainacan-li-checkbox-parent-active {
    background-color: #cae4ec;
}
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-finder-columns-container .tainacan-li-checkbox-last-active .b-radio.radio input[type="radio"]:not(:checked) + .check,
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-finder-columns-container .tainacan-li-checkbox-parent-active .b-radio.radio input[type="radio"]:not(checked) + .check {
    visibility: hidden;
}
.user-is-gestor-do-museu #tainacan-admin-app input.input,
.user-is-gestor-do-museu #tainacan-admin-app .input,
.user-is-gestor-do-museu #tainacan-admin-app textarea.textarea,
.user-is-gestor-do-museu #tainacan-admin-app .textarea,
.user-is-gestor-do-museu #tainacan-admin-app input[type="color"].input,
.user-is-gestor-do-museu #tainacan-admin-app input[type="date"].input,
.user-is-gestor-do-museu #tainacan-admin-app input[type="datetime-local"].input,
.user-is-gestor-do-museu #tainacan-admin-app input[type="datetime"].input,
.user-is-gestor-do-museu #tainacan-admin-app input[type="email"].input,
.user-is-gestor-do-museu #tainacan-admin-app input[type="number"].input,
.user-is-gestor-do-museu #tainacan-admin-app input[type="month"].input,
.user-is-gestor-do-museu #tainacan-admin-app input[type="password"].input,
.user-is-gestor-do-museu #tainacan-admin-app input[type="search"].input,
.user-is-gestor-do-museu #tainacan-admin-app input[type="tel"].input,
.user-is-gestor-do-museu #tainacan-admin-app input[type="text"].input,
.user-is-gestor-do-museu #tainacan-admin-app input[type="time"].input,
.user-is-gestor-do-museu #tainacan-admin-app input[type="url"].input,
.user-is-gestor-do-museu #tainacan-admin-app input[type="week"].input,
.user-is-gestor-do-museu #tainacan-admin-app .taginput .taginput-container.is-focusable,
.user-is-gestor-do-museu #tainacan-admin-app .select select {
    box-shadow: 0 0 0 transparent !important;
    border-radius: 3px !important;
    border: 1px solid var(--tainacan-input-border-color);
    color: var(--tainacan-input-color);
}
.user-is-gestor-do-museu #tainacan-admin-app .taginput .taginput-container input {
    height: calc(2.5em - 1px) !important;
}
.user-is-gestor-do-museu #tainacan-admin-app input.input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app .input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app textarea.textarea:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app .textarea:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app input[type="color"].input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app input[type="date"].input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app input[type="datetime-local"].input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app input[type="datetime"].input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app input[type="email"].input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app input[type="number"].input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app input[type="month"].input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app input[type="password"].input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app input[type="search"].input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app input[type="tel"].input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app input[type="text"].input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app input[type="time"].input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app input[type="url"].input:not(.is-danger):focus,
.user-is-gestor-do-museu #tainacan-admin-app input[type="week"].input:not(.is-danger):focus {
    border-color: var(--tainacan-secondary) !important;
    box-shadow: 0 0 0 1px var(--tainacan-secondary) !important;
    --tainacan-gray4: var(--tainacan-secondary);
    outline: 2px solid transparent;
}
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-metadatum-component--tainacan-compound .child-metadata-inputs {
    padding-left: 4px;
}
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-metadatum-component--tainacan-compound .child-metadata-inputs .multiple-inputs {
    column-width: 300px;
    font-size: 0.875em;
}
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-metadatum-component--tainacan-compound .child-metadata-inputs .multiple-inputs > .field {
    break-inside: avoid;
}
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-checkbox-search-section input[type="search"].input:not(.is-danger) {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.user-is-gestor-do-museu #tainacan-admin-app .sticky-container > div:has(.publication-field) {
    display: none;
    visibility: hidden;
}
.user-is-gestor-do-museu #tainacan-admin-app .button.is-outlined {
    color: var(--tainacan-secondary);
    border-color: var(--tainacan-secondary) !important;
    background-color: var(--tainacan-primary) !important;
}
.user-is-gestor-do-museu #tainacan-admin-app #collection-page-container .footer {
    position: absolute;
    background-color: var(--tainacan-white);
    top: calc(100vh - 60px - var(--wordpress-topbar-height));
    border: 1px solid var(--tainacan-gray2);
    box-shadow: 0 -1px 1px rgba(0,0,0,.075);
    border-radius: 10px 10px 0px 0px;
}

/* Nesta altura a barra do WordPress fica maior */
@media screen and (max-width: 782px) {
    .user-is-gestor-do-museu {
        --wordpress-topbar-height: 82px;
    }
}


/* Ajustes específicos de metadados por ID */
/* UF com mais colunas */
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-metadatum-id--15202 .tainacan-finder-column.has-only-one-column ul,
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-metadatum-id--15563 .tainacan-finder-column.has-only-one-column ul {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4
}
/* Status do Museu (Aberto ou Fechado) com menos colunas */
.user-is-gestor-do-museu #tainacan-admin-app .tainacan-metadatum-id--269 .tainacan-finder-column.has-only-one-column ul {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1
}

/* Modal de Mídias, alteração de alguns campos */
.user-is-gestor-do-museu .media-sidebar .attachment-info {
    display: none;
    visibility: hidden;
}
.user-is-gestor-do-museu .media-sidebar .setting[data-setting="caption"] .name {
    font-size: 0;
}
.user-is-gestor-do-museu .media-sidebar .setting[data-setting="caption"] .name::after {
    font-size: 15px;
    content: 'Créditos';
    font-weight: bold;
}
.user-is-gestor-do-museu .media-sidebar #alt-text-description {
    font-size: 0;
}
.user-is-gestor-do-museu .media-sidebar #alt-text-description::after {
    content: 'Campo para acessibilidade. Se não for útil para leitores de tela, deixe em branco.';
    font-size: 12px;
}
.user-is-gestor-do-museu .media-sidebar .setting .name {
    font-size: 15px;
}
.user-is-gestor-do-museu .media-sidebar .copy-to-clipboard-container,
.user-is-gestor-do-museu .media-sidebar .setting[data-setting="url"] {
    display: none;
}

/* Seção de dados internos para o banner não deve aparecer para o gestor */
.user-is-gestor-do-museu #metadata-section-id-99890,
.user-is-gestor-do-museu .metadata-section-slug-dados-internos-para-o-banner {
    margin-top: 2rem;
    display: none !important;
    visibility: hidden !important;
}

/* Tabela de Museus */
.column-museu_certificado {
    width: 180px;
}
