/**
 * Estilos para o CPT do Museu
 */
.single {
    --sections-tabs-width: 300px;
    --section-tabs-count: 2;
}
.single .museu-item-thumbnail {
    margin-top: 3.25rem !important;
    margin-right: 6rem;
    margin-bottom: 1.5rem;
    box-shadow: 26px 26px #222, 28px 28px 12px -1px rgba(0,0,0,0.5);
    max-width: 220px;
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .single .museu-item-thumbnail {
        max-width: 160px;
    }
}
.single .museu-item-extra-container {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 2rem;
    column-gap: 3rem;
}
.single .museu-item-description {
    color: var(--theme-palette-color-8);
    margin-top: 2rem !important;
    margin-bottom: 3rem;
    font-weight: 300;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.35;
    overflow-x: hidden;
    max-height: 350px;
    word-break: break-word;
    max-width: 100%;
    overflow-y: auto;
    scrollbar-color: rgba(256, 256, 256, 0.6) transparent;
    scrollbar-width: thin;
}
.single .museu-item-other-metadata {
    color: white;
    margin-top: 2rem !important;
    margin-bottom: 1rem;
    margin-left: 0rem;
}
.single .museu-item-other-metadata .metadata-section__metadata-list {
    column-width: 300px;
    font-size: 0.875rem;
}
.single .museu-item-other-metadata .metadata-section__metadata-list > div {
    break-inside: avoid;
}
.single .museu-item-other-metadata a,
.single .museu-item-other-metadata a:hover,
.single .museu-item-other-metadata a:focus {
    color: white;
}
.single .museu-item-other-metadata p:empty {
    display: none;
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-type-taxonomy {
    display: none;
    visibility: hidden;
}
.single .museu-item-other-metadata .metadata-section__metadata-list h3 {
    display: none;
}
.single .museu-item-extra-container .metadata-slug-codigo-identificador-ibram-2,
.single .museu-item-extra-container .metadata-slug-museu-matriz {
    display: none;
    visibility: hidden;
}
.single .museu-item-thumbnail-container .metadata-section__metadata-list > .metadata-slug-registrado,
.single .museu-item-thumbnail-container .metadata-section__metadata-list > .metadata-slug-cadastrado {
    font-size: 0;
    line-height: 0;
    margin-bottom: 1rem;
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-museu-matriz h3,
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-codigo-identificador-ibram-2 h3 {
    font-size: 0.875rem;
    display: block;
    color: white;
    font-style: italic;
    margin-bottom: 0.25rem;
}
.single .museu-item-other-metadata .metadata-section__metadata-list .tainacan-compound-group .label {
    display: none;
}
.single .museu-item-other-metadata .metadata-section__metadata-list i.las {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-site-4 a,
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-brasiliana a {
    display: inline-flex;
    align-items: center;
    min-height: var(--theme-button-min-height);
    padding: 6px 30px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    border-radius: var(--theme-button-border-radius, 3px);
    transition: all .2s ease;
    --has-link-decoration: var(--false);
    position: relative;
    color: var(--theme-button-text-initial-color);
    border: var(--theme-button-border);
    background-color: var(--theme-palette-color-2);
    font-size: 0;
    margin-bottom: 0.75rem;
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-site-4 a:hover,
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-site-4 a:focus,
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-brasiliana a:hover,
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-brasiliana a:focus {
    background-color: var(--theme-palette-color-1);
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-site-4 a::after {
    font-family: 'Line Awesome Free';
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1;
    content: '\f35d';
    margin-left: 0.875rem;
  }
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-site-4 a::before {
    content: 'Visite o site oficial';
    display: block;
    font-size: 1rem;
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-brasiliana a::after {
    font-size: 1.5rem;
    line-height: 1;
    content: '';
    margin-left: 0.875rem;
    background-image: url('../images/brasiliana.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-brasiliana a::before {
    content: 'Ver na Brasiliana';
    display: block;
    font-size: 1rem;
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-redes-sociais-3 .tainacan-compound-group {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-redes-sociais-3 .tainacan-metadatum.metadata-type-url .wp-block-buttons > a {
    background: var(--theme-palette-color-3);
    border-radius: 0.25rem;
    width: 36px;
    height: 36px;
    padding: 4px;
    font-size: 0;
    display: block;
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-redes-sociais-3 .tainacan-metadatum.metadata-type-url > p {
    display: none;
    margin-top: 0.125rem;
}   
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-redes-sociais-3 .tainacan-metadatum.metadata-type-url .wp-block-buttons > a:hover,
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-redes-sociais-3 .tainacan-metadatum.metadata-type-url .wp-block-buttons > a:focus {
    background: var(--theme-palette-color-2);
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-redes-sociais-3 .tainacan-metadatum.metadata-type-url .wp-block-buttons > a::before {
    font-family: 'Line Awesome Brands';
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 1;
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-redes-sociais-3 .tainacan-metadatum.metadata-type-url.metadata-slug-youtube .wp-block-buttons > a::before {
  content: "\f167";
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-redes-sociais-3 .tainacan-metadatum.metadata-type-url.metadata-slug-facebook-2 .wp-block-buttons  > a::before {
  content: "\f39e";
  font-size: 1.5rem;
  line-height: 1.125;
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-redes-sociais-3 .tainacan-metadatum.metadata-type-url.metadata-slug-twitter-2 .wp-block-buttons > a::before {
  content: "\f099";
  font-size: 1.5rem;
  line-height: 1.25;
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-redes-sociais-3 .tainacan-metadatum.metadata-type-url.metadata-slug-instagram-2 .wp-block-buttons > a::before {
  content: "\f16d";
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-redes-sociais-3 .tainacan-metadatum.metadata-type-url.metadata-slug-mastodon .wp-block-buttons > a::before {
    content: "\f4f6";
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-redes-sociais-3 .tainacan-metadatum.metadata-type-url.metadata-slug-spotify .wp-block-buttons > a::before {
    content: "\f1bc";
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-redes-sociais-3 .tainacan-metadatum.metadata-type-url.metadata-slug-tiktok .wp-block-buttons > a {
    background-image: url('../images/tiktok.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}
.single .museu-item-other-metadata .metadata-section__metadata-list .metadata-slug-redes-sociais-3 .tainacan-metadatum.metadata-type-url.metadata-slug-threads .wp-block-buttons > a {
    background-image: url('../images/threads.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

.single .museu-item-sections-navigator ol {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: white;
    list-style: none;
}
.single .museu-item-sections-navigator ol a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem;
    text-align: center;
}
.single .museu-item-sections-navigator ol a,
.single .museu-item-sections-navigator ol a:hover,
.single .museu-item-sections-navigator ol a:focus {
    color: white;
}
.single .museu-item-sections-navigator ol a .navigator-icon i {
    font-size: 1.5rem;
    padding: 0.5rem;
}
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs label > h3 {
    --theme-font-size: 14px;
    --theme-text-transform: uppercase;
    --theme-font-weight: 600;
    margin: .25rem 1.5rem !important;
}
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs .tainacan-compound-group {
    column-width: 200px;
}
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs .tainacan-compound-group > * {
    break-inside: avoid;
}
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs .tainacan-compound-group h4 {
    --theme-font-size: 15px;
    --theme-font-weight: 600;
}
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs label {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2px 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: rgba(255,255,255, 1.0);
    box-shadow: 2px 2px 6px -3px #000;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, padding-left 0.2s ease;
}
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs input:checked + label > h3 {
    --theme-headings-color: #000;
}
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs label:hover,
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs label:focus,
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs input:checked + label {
    background-color: var(--theme-palette-color-2);
}
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs label:hover h3,
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs label:focus h3,
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs input:checked + label h3 {
    --theme-headings-color: white;
}
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs label:hover i::before,
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs label:focus i::before,
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs input:checked + label i::before {
    color: white;
}
.single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs .tainacan-item-section {
    border-top: none;
    grid-column: 1/-1;
}
.single .tainacan-item-section--special-museusbr-gallery {
    margin-top: 3.75rem;
}
.single .tainacan-item-section--special-museusbr-localization h2,
.single .tainacan-item-section--special-museusbr-gallery h2,
.single .tainacan-item-section--special-museusbr-localization .metadata-section__metadata-list,
.single .tainacan-item-section--special-museusbr-localization .metadata-section__metadata-list > *:not(.metadata-type-geocoordinate) {
    width: var(--theme-default-editor, var(--theme-block-width));
    max-width: var(--theme-default-editor, var(--theme-block-max-width));
    margin-inline: var(--theme-default-editor, auto);
}

.single .tainacan-item-section--special-museusbr-localization .metadata-section__metadata-list > *:not(.metadata-type-geocoordinate) {
    flex-basis: 320px;
    margin: 0;
}
.single .tainacan-item-section--special-museusbr-localization .metadata-section__metadata-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    --theme-font-weight: 600;
    --theme-font-size: 20px;
    --theme-line-height: 1.2;
}
.single .tainacan-item-section--special-museusbr-localization .metadata-section__metadata-list > * {
    break-inside: avoid;
}
.single .tainacan-item-section--special-museusbr-localization .metadata-section__metadata-list h3 {
    --theme-font-weight: 600;
    --theme-font-size: 20px;
    --theme-line-height: 1.2;
    --metadata-label-alignment: left;
    --has-theme-content-spacing: 0.5;
}
.single .tainacan-item-section--metadata-sections .tainacan-metadata-label,
.single .tainacan-item-section--special-museusbr-localization .tainacan-metadata-label {

    --has-theme-content-spacing: 0.5;
}
.single .tainacan-item-section--special-museusbr-localization .metadata-type-geocoordinate {
    column-span: all;
    min-width: 100vw;
    width: 100vw;
    margin-top: 2rem;
    margin-bottom: 0;
    margin-left: calc(-0.5 * (100vw - 100%));
}
.single .tainacan-item-section--special-museusbr-localization .metadata-type-geocoordinate > h3 {
    display: none;
    visibility: hidden;
}
.single .tainacan-item-section--special-museusbr-localization,
.single .tainacan-item-section--special-museusbr-localization .metadata-type-geocoordinate > p {
    margin-bottom: 0px;
}
.single .tainacan-metadata-value:empty {
    display: none;
}
.single .museu-selos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.875rem;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
    .single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs {
        display: grid;
        gap: 1rem;
        justify-content: space-between;
        align-items: stretch;
        grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
        grid-template-rows: 142px;
    }
}
@media screen and (min-width: 1000px) {
    .single .entry-header {
        padding-bottom: 80px !important;
    }
    .single .page-title{
        margin-top: 0;
    }
    .single .museu-item-thumbnail-container {
        float: left;
    }
    .single .museu-item-extra-container {
        flex-direction: row-reverse;
        gap: 5rem;
    }
    .single .museu-item-description-and-meta-wrapper {
        flex-basis: calc(100% - 280px - 5rem);
    }
    .single .museu-item-other-metadata {
        flex-basis: 280px;
        max-width: 280px;
    }
    .single .museu-item-sections-navigator ol {
        font-size: 1.2rem;
        justify-content: space-evenly;
    }
    .single .museu-item-sections-navigator ol a .navigator-icon i {
        font-size: 3.5rem;
        padding: 0.5rem;
    }
    .single .tainacan-item-section--metadata-sections {
        max-width: var(--theme-normal-container-max-width);
    }
    .single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs .tainacan-item-section {
        padding-top: 4rem;
        --theme-content-spacing: 2.875rem;
    }
    .single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs .tainacan-item-section .tainacan-compound-group {
        --theme-content-spacing: 1.5rem;
    }
    .single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs .tainacan-item-section > div { 
        column-width: var(--metadata-column-width, 380px);
        column-gap: 3rem;
    }
    .single .tainacan-item-section--metadata-sections .metadata-section-layout--tabs .tainacan-item-section > div > div {
        break-inside: avoid;
    }
}
